<link href="../../public/bower/polymer/polymer.html" rel="import">
<link href="../../public/bower/paper-input/paper-input.html" rel="import">
<link href="../../public/bower/paper-button/paper-button.html" rel="import">
<link href="../../public/bower/core-ajax/core-ajax.html" rel="import">
<link href="../../public/bower/paper-toast/paper-toast.html" rel="import">

<polymer-element name="soyfr-login" attributes="url">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
                padding: 20px;
            }
        </style>

        <div class="username-input">
            <paper-input-decorator label="Username" floatingLabel required>
                <input is="core-input" type="text" value="{{username}}">
            </paper-input-decorator>
        </div>

        <div class="password-input">
            <paper-input-decorator label="Password" floatingLabel>
                <input is="core-input" type="password" value="{{password}}">
            </paper-input-decorator>
        </div>

        <paper-button on-tap="{{ doSend }}" label="Login" role="button">Login</paper-button>

        <core-ajax
                auto="false"
                id="registrationForm"
                method="POST"
                contentType="application/json"
                url="{{ url }}"
                body='{"data" : [{"username" : "{{ username }}", "type" : "users"}]}'
                response="{{ response }}"
                on-core-error="{{ handleError }}"
                on-core-response="{{ handleSuccess }}">
        </core-ajax>
    </template>

    <script>
        Polymer('soyfr-login', {
            doSend: function () {
                this.$.registrationForm.go();
            },

            handleError: function() {
                // TODO: Handle error
            },

            handleSuccess: function () {
                // TODO: handle success only for valid data
            }
        });
    </script>
</polymer-element>
